.title {
  text-align: center;
}

.title-header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.title-img img {
  margin-left: 20px;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  margin-top: -40px;
}

.card-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media screen and (max-width: 800px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.total-quiz {
  margin-top: 12px;
}

@media screen and (max-width: 800px) {
  .title header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .title {
    display: block;
  }
  .title-img img {
    display: block;
  }
}
